{% extends 'shared/base.html' %}

{% block head %} 
    <style>
        header, footer {
            display:none!important;visibility: hidden!important;position: absolute!important; top: -9999px!important; left: -9999px !important;opacity: 0 !important;width: 0 !important; height: 0!important;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                    <img src="../../static/assets/img/logo_p1.png" alt="">
                    <span class="d-none d-lg-block">MyBank</span>
                    </a>
                </div><!-- End Logo -->

                <div class="card mb-3">

                    <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-color text-center pb-0 fs-4">Ingresa a tu cuenta</h5>
                        <p class="text-center small">Ingresa tu Usuario & Contraseña para continuar</p>
                    </div>

                    <form class="row g-3 needs-validation" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="col-12">
                        <label for="username_id" class="form-label">Usuario</label>
                        <div class="input-group has-validation">
                            <input type="text" name="username" class="form-control" id="username_id" required>
                            <div class="invalid-feedback">Ingresa tu usuario</div>
                        </div>
                        </div>

                        <div class="col-12">
                        <label for="password_id" class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-control" id="password_id" required>
                        <div class="invalid-feedback">Ingresa tu contraseña</div>
                        </div>

                        <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="remembercheck" value="true" id="remembercheck_id">
                            <label class="form-check-label" for="rememberMe">Recuerdame</label>
                        </div>
                        </div>
                        <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Ingresar</button>
                        </div>
                        <div class="col-12">
                        <p class="small mb-0">No tienes cuenta aún? <a href="{% url 'sigup_view' %}">Crear cuenta</a></p>
                        </div>
                    </form>

                    </div>
                </div>

                <!--<div class="credits">-->
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                    <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
                <!--</div>-->

                </div>
            </div>
            </div>

        </section>

        </div>
    </main><!-- End #main -->

{% endblock %}