{% extends 'shared/base.html' %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Categoría de pagos</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                <li class="breadcrumb-item">Pagina</li>
                <li class="breadcrumb-item active">Categoría de pagos</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <span class="card-title" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="En este módulo podrás ingresa el saldo gastado   , para llevar seguimiento a tus gastos">
                            Categoría de pagos
                            <i class="bi bi-patch-question-fill"></i>
                        </span>
                        <form class="row g-3 needs-validation mt-lg-2" method="POST" novalidate>
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="balance_id" class="form-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Crea una categoría para que puedas clasificar de una forma más exacta los pagos que realizas">
                                    Categoría:
                                </label>
                                <div class="input-group has-validation">
                                    <input type="text" name="category" class="form-control" id="category_id" required>
                                    <div class="invalid-feedback">Ingrese la categoría</div>
                                </div>
                            </div>
    
                            <div class="col-12 text-end">
                                <button class="btn btn-primary" id="btn_category" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col mt-2">
                <div class="card">
                    <div class="card-header">
                      En uso
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Vivienda <span class="badge bg-success badge-number">3</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Categorías
                        </button>
                      </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 m-0">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        {%for cat_obj in category_object %}
                                            <li class="list-group-item">{{cat_obj.name}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block scripts %}
<script>
  $("#btn_category").one('click', function (event) {  
      event.preventDefault();
      $(this).prop('disabled', true);
      //do something
  });
</script>
{% endblock %}